.experience-timeline {
  border-left: 4px solid var(--default-primary-color);
  border-bottom-right-radius: 4px;
  border-top-right-radius: 4px;
  color: rgba(255, 255, 255, 0.8);
  font-family: 'Chivo', sans-serif;
  margin: 50px auto;
  letter-spacing: 0.5px;
  position: relative;
  line-height: 1.4em;
  font-size: 1.03em;
  padding: 0px 50px;
  list-style: none;
  text-align: left;
}

.experience {
  text-align: left;
  border-bottom: 1px solid rgba(141, 141, 141, 0.6);
  padding-bottom: 25px;
  margin-bottom: 50px;
  position: relative;
  color: black;
  transition: transform 0.3s ease-in-out;
}

.experience:before {
  position: absolute;
  display: block;
  top: 0;
  left: -217.5px;
  color: rgba(145, 145, 145, 0.67);
  content: attr(data-date);
  text-align: right;
  font-weight: 100;
  font-size: 0.9em;
  min-width: 120px;
}
.experience:after {
  position: absolute;
  display: block;
  top: 0;

  box-shadow: 0 0 0 4px var(--default-primary-color);
  left: -57.85px;
  background: #ffffff;
  border-radius: 50%;
  height: 11px;
  width: 11px;
  content: "";
  top: 5px;
}

.experience div {
  overflow-y: hidden;
  transition: transform 0.3s ease-in-out;
  max-height: 150px;
}

.experience-information {
  transition: transform 0.3s ease-in-out;
}
.experience:hover .experience-information{
  transform: translateY(-28px);
}

.experience:hover div{
  max-height: none;
}

.experience-description{
  transform: scaleY(0);
  position: absolute;
  transition: transform 0.3s ease-in-out;
}
.experience:hover .experience-description{
  transform: scaleY(1) translateY(-10px);
  position: inherit;
}

.add-experience {
  border: 3px dashed var(--default-primary-color);
  color: var(--default-primary-color);
  cursor: pointer;

  text-align: left;
  padding: 30px;
  margin-bottom: 10px;
  margin-left: -20px;
  position: relative;

  opacity: 0.7;
  transform: scale(0.9, 0.9);
  transition: 0.3s;
}

.add-experience:hover{
  opacity: 1;
  transform: scale(1, 1);
}

.btn-edit {
  z-index: 2;
  position: relative;
  border: 0px;
  background-color: rgba(255, 255, 255, 0);
  color: var(--default-link-color);
  left: 85%;
  width: auto;
}

.add-experience:hover .btn-edit{
  opacity: 1;
  transform: scale(1, 1);
}

@media only screen
and (max-width: 860px) {
  .experience-collection {
    margin: 0 0;
    padding: 0px 5px;
    justify-content: start;
    display: block;
  }

  .experience:before {
    position: inherit;
    display: contents;
  }

}


.textarea {
  border: 0px;
  padding: 0px;
  font-size: 15px;
  font-family: 'Lato', 'Arial', sans-serif;
  border-radius: 5px;
  transition: all 0.6s;
  width: var(--default-input-width-percentage);
  max-width: 100%;
}
