.toolbar {
  z-index: 2;
  top: 0px;
  left: 0;
  right: 0;
  height: var(--header-height);
  display: flex;
  align-items: center;
  position: fixed;
  background-color: var(--default-nav-bg-color);
  color: var(--default-nav-text-color);
  font-weight: 600;
  border-bottom: 1px solid var(--default-nav-border-color);
  padding: 5px 10px 0px 10px;
  font-family: var(--default-btn-font-family);
  /*min-width: var(--app-min-width);*/
}


.toolbar .logo {
  text-decoration: none;
  color: inherit;
  height: 60px;
  text-align: center;
  transition: 1s;
}

.toolbar .logo:hover {
  transform: scale(1.1);
}

.toolbar .item {
  flex: 1;
  text-decoration: none;
  color: inherit;
  height: 40px;
  text-align: center;
  margin: 2px 2px 0px 2px;
  transition: 0.6s;
  opacity: 0.6;
  cursor: pointer;
}

.toolbar .item:hover {
  color: inherit;
  opacity: 1;
  font-size: 120%;
}

.toolbar .item:after {
  display:block;
  content: '';
  border-bottom: solid 1px black;
  border-radius: 5px;
  transform: scaleX(0);
  transition: transform 300ms ease-in-out;
  margin-top: 10px;
}
.toolbar .item:hover:after { transform: scaleX(0.9); }

.is-active{
  color: inherit !important;
  opacity: 1 !important;
  font-size: 120% !important;
}

.v-ruler {
  pointer-events: none;
  text-decoration: none;
  height: 30px;
  background-color: var(--default-nav-text-color);
  width: 1px;
  opacity: 0.1;
  margin: 0px 5px 10px;
}

.spacer {
  flex: 1;
  pointer-events: none;
  text-decoration: none;
}

.no-flex {
  flex: 0 !important;
}

.separator hr {
  pointer-events: none;
  text-decoration: none;
  height: 1px;
  background-color: var(--default-nav-text-color);
  width: 30%;
  opacity: 0.1;
}

