<nav class="toolbar" role="banner">
  <a class="logo clickable" (click)="navigateOrScrollTo(ROUTES.HOME.url, 'top')">Herms Coder</a>
  <span class="v-ruler"></span>

  <a title="About me" class="item" (click)="navigateOrScrollTo(ROUTES.HOME.url, 'about_me')">
    About me
  </a>
  <span class="v-ruler"></span>
  <a title="Portfolio" class="item" (click)="navigateOrScrollTo(ROUTES.HOME.url, 'portfolio')">
    Portfolio
  </a>
  <span class="v-ruler"></span>
  <a title="Posts" class="item" [routerLink]="[ROUTES.LIST_POSTS.url]" routerLinkActive="is-active">
    <span>Posts</span>
  </a>
  <span class="v-ruler"></span>
  <a title="Login" class="item no-flex" (click)="modalService.open('loginModal')" *ngIf="!authService.isAuthenticated()">
    Login
  </a>
  <div *ngIf="authService.isAuthenticated()" style="margin-top: 20px">
    <a title="Options" class="item no-flex" #dropDownToggler>
      {{authService.currentUser?.name}}
    </a>
    <hc-dropdown [dropDownToggle]="dropDownToggler" dropDownDirection="left bottom">
      <button class="btn btn-link mb-0 mt-0" [routerLink]="[ROUTES.EDIT_PROFILE.url]">Edit portfolio</button>
      <span class="separator"><hr></span>
      <button class="btn btn-link mb-0 mt-0" [routerLink]="[ROUTES.WRITE_POST.url]">Write a posts</button>
      <span class="separator"><hr></span>
      <button class="btn btn-link mb-0 mt-0" (click)="logout()">Logout</button>
    </hc-dropdown>
  </div>
</nav>

<hc-modal id="loginModal" modalWidth="400px">
  <hc-login (onCancel)="modalService.close('loginModal')" (onLoginSuccessfull)="modalService.close('loginModal');loginSuccessfull()"></hc-login>
</hc-modal>


