.form {
  text-align: left;
  font-family: 'Big Shoulders Display', cursive;
}


.form .form-item {
  padding: 5px 5px;
  display: flex;
}

.form .form-item label {
  width: 30%;
  margin-right: 5px;
  font-weight: bold;
}

.form .form-item input {
  width: 70%;
}
