<form class="form" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
  <div class="form-item">
    <input type="text" [formControlName]="'email'" placeholder="Email" required="" class="input-text"/>
  </div>
  <div class="form-item">
    <input type="password" [formControlName]="'password'" placeholder="Password" required="" class="input-text"/>
  </div>
  <div class="d-flex mt-2">
    <a title="Close" class="im-flex d-flex" style="text-decoration: none" (click)="cancel()">
      <button type="button" class="btn btn-default im-flex">Cancel</button>
    </a>
    <button class="btn btn-primary im-flex" type="submit">Login</button>
  </div>
</form>
