<div class="card" (click)="goToPost(post.id)">
  <div>
    <div class="card-title">
      <h3>{{post.title}}</h3>
    </div>
    <div class="card-body">{{post.subTitle}}</div>
    <div class="small">{{post.date | dateFormat: 'MMM DD'}} · {{post.readingTime}} min read</div>
  </div>
  <img class="card-img" src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fwohnungnein.icu%2Fzcdooy%2F3rdaBj4bVgNOfurQhUUuAgHaEI.jpg&f=1&nofb=1" [alt]="post.title">
</div>
<div class="card-separator">
  <hr width="30%"/>
</div>
