
<div *ngIf="error == null; else errorDiv">
  <div class="post-options">
    <button class="btn btn-link im-flex" [routerLink]="['/' + ROUTES.EDIT_POST.url, post.id]" *ngIf="canEdit()">
      <fa-icon [icon]="['fas', 'pen-square']" size="1x"></fa-icon>
      <span class="label">Edit</span>
    </button>
    <div *ngIf="isMobileDevice() else nonMobileDevicesBtns">
      <button class="btn btn-light im-flex" (click)="sharePostMobile(post)">
        <fa-icon [icon]="['fas', 'share-alt']" size="1x"></fa-icon>
        <span class="label">Share</span>
      </button>
    </div>
    <ng-template #nonMobileDevicesBtns>
      <button class="btn btn-light im-flex" (click)="sharePostOnTwitter(post)">
        <fa-icon [icon]="['fab', 'twitter']" size="1x"></fa-icon>
        <span class="label">Share on Twitter</span>
      </button>
      <button class="btn btn-light im-flex" (click)="sharePostOnLinkedin(post)">
        <fa-icon [icon]="['fab', 'linkedin']" size="1x"></fa-icon>
        <span class="label">Share on LinkedIn</span>
      </button>
    </ng-template>
  </div>
  <article class="post">
    <div class="post-information">
      {{post.author.name}}
      <div class="fs-xsm post-date">{{post.date | dateToStrFormat: 'MMM DD'}} · {{post.readingTime}} min read</div>
    </div>
    <h1 class="post-title">{{post.title}}</h1>
    <h3 class="post-subtitle">{{post.subTitle}}</h3>
    <div class="post-image" >
      <img src="{{post?.thumbnail?.url}}" [alt]="post.title">
    </div>
    <div class="post-content" [innerHTML]="post.text | safeHtml"></div>
  </article>
</div>
<ng-template #errorDiv>
  <div>
    {{ error }}
  </div>
</ng-template>

<hc-modal *ngIf="!isMobileDevice()" id="sharePostOnLinkedInModal" modalWidth="400px" >
  <hc-share-linkedin [post]="post" (onShareSuccessfully)="modalService.close('sharePostOnLinkedInModal')" (onCancel)="modalService.close('sharePostOnLinkedInModal')" #sharePostOnLinkedInComponent></hc-share-linkedin>
</hc-modal>
