.post {
  align-items: center;
  margin: 0 26%;
}

.post-title {
  text-align: left;
  font-size: xxx-large;
  font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
  margin-bottom: 0px;
  font-size: 46px;
  letter-spacing: -0.011em;
  font-weight: 400;
}

.post-information {
  margin-top: 5px;
  float: right;
}

.post-subtitle {
  text-align: left;
  color: var(--default-post-subtitle-color);
  font-family: fell, Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: x-large;
  letter-spacing: 0;
  font-weight: 100;
  margin-top: 10px;
  font-size: 22px;
}

.post-image {
  text-align: center;
  width: 100%;
}

.post-options {
  width: 10%;
  position: fixed;
  right: 10%;
  display: flex;
  flex-direction: column;
}

.post-options .btn {
  width: fit-content;
}
.post-options .btn:hover .label{
  font-size: inherit;
  margin-left: 8px;
  opacity: 1;
}

.post-options .label {
  max-width: 0;
  opacity: 0;
  font-size: 0px;
  max-height: 1em;
  white-space: nowrap;

  transition: .2s;
}


.post-image img {
  width: 80%;
  height: auto;
}

.post-content::first-letter {
  font-size: 400%;
  color: var(--default-post-title-color);
}
.post-content {
  align-items: center;
  font-size: medium;
  font-family: charter, Georgia, Cambria, "Times New Roman", Times, serif;
}

.post-date {
  color: var(--default-card-subtitle-color);
}

@media only screen
and (max-width: 850px) {
  .post {
    margin: 0 5%;
  }
  .post-image img {
    width: 100%;
    height: auto;
  }
  .post-options {
    position: fixed;
    width: 15%;
    right: 0;
    align-items: flex-end;
  }
  .post-options .label {
    max-width: 0;
    font-size: 0px;
    margin-left: -1px;
    opacity: 0;
    max-height: 1em;
    white-space: nowrap;

    transition: .2s;
  }
  .post-options .label {
    font-size: inherit;
    margin-left: 8px;
    opacity: 1;
  }
}
