<div class="content">
  <form class="form" [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="post-options">
      <button class="btn btn-primary im-flex" type="submit">
        <fa-icon [icon]="['fas', 'check']" size="1x"></fa-icon>
        <span class="label">{{ postForm.value.id == null ? 'Create' : 'Save changes' }}</span>
      </button>
      <button class="btn btn-link im-flex" *ngIf="postForm.value.id != null"
              [routerLink]="['/' + ROUTES.POST_DETAILS.url, postForm.value.id]" type="button">
        <fa-icon [icon]="['fas', 'arrow-circle-left']" size="1x"></fa-icon>
        <span class="label">Back</span>
      </button>
    </div>
    <div class="form-item">
      <label>Title:</label>
      <input type="text" [formControlName]="'title'" required="true" class="input-text"/>
    </div>
    <div class="form-item">
      <label>Subtitle:</label>
      <input type="text" [formControlName]="'subTitle'" required="true" class="input-text"/>
    </div>
    <div class="form-item">
      <label>Reading Time:</label>
      <input type="number" [formControlName]="'readingTime'"
             required="true"
             class="input-text mr-1"
             style="width: 50px"
             (keypress)="readingTime.value.length == 2 ? false: true" #readingTime/>
      min
    </div>
    <div class="form-item">
      <label>Post:</label>
    </div>
    <div class="form-item post-text">
      <angular-editor [placeholder]="'Enter text here...'" formControlName="text" [config]="editorConfig" #angularEditorComponent></angular-editor>
    </div>
  </form>
</div>
