<div class="content" id="profile">
  <form class="form" [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <div class="post-options">
      <button class="btn btn-primary im-flex" type="submit">
        <fa-icon [icon]="['fas', 'check']" size="1x"></fa-icon>
        <span class="label">{{ profileForm.value.id == null ? 'Create' : 'Save changes' }}</span>
      </button>
    </div>
    <h2>Personal Data</h2>
    <div class="form-item">
      <label class="form-label">Given Name:</label>
      <input type="text" [formControlName]="'givenName'" required="true" class="input-text"/>
    </div>
    <div class="form-item">
      <label class="form-label">Family Name:</label>
      <input type="text" [formControlName]="'familyName'" required="true" class="input-text"/>
    </div>
    <div class="form-item">
      <label class="form-label">Birthdate:</label>
      <input [formControlName]="'birthDate'" class="input-text"/>
    </div>
    <div class="form-item">
      <label class="form-label">Job title:</label>
      <input type="text" [formControlName]="'jobTitle'" required="true" class="input-text"/>
    </div>
    <div class="form-item">
      <label class="form-label">Description:</label>
<!--      <textarea [formControlName]="'description'" required="true" class="textarea" rows="4" style="max-width: 100%"></textarea>-->
      <angular-editor [placeholder]="'Enter text here...'" formControlName="description" [config]="editorConfig" class="textarea"></angular-editor>
    </div>
    <div class="form-item">
      <label class="form-label">LinkedIn:</label>
      <input type="text" [formControlName]="'linkedIn'" required="true" class="input-text"/>
    </div>
    <div class="form-item">
      <label class="form-label">Instagram:</label>
      <input type="text" [formControlName]="'instagram'" required="true" class="input-text"/>
    </div>
    <div class="form-item">
      <label class="form-label">Twitter:</label>
      <input type="text" [formControlName]="'twitter'" required="true" class="input-text"/>
    </div>
  </form>
  <hr>
  <h2>Portfolio</h2>
  <h3>Personal Projects</h3>
  <hc-projects [profile]="profile" [editMode]="true"></hc-projects>
  <hr>
  <h3>Working Experience</h3>
  <div class="experiences">
    <hc-experiences [profile]="profile" [editMode]="true"></hc-experiences>
  </div>
</div>
