:root {
  /*Fonts*/
  --default-btn-font-family: 'Big Shoulders Display', cursive;

  --app-min-width: 500px;
  --header-height: 60px;

  --default-bg-color: #fff;
  --default-text-color: #3a3a3a;

  /*Navbar colors*/
  --default-nav-bg-color: #fff;
  --default-nav-text-color: black;
  --default-nav-border-color: rgba(166, 166, 166, 0.42);

  /*Button colors*/
  /*--default-primary-color: #BA7C6C;*/
  --default-primary-color: rgb(var(--default-primary-color-rgb-values));
  --default-primary-color-rgb-values: 108, 171, 187;
  --default-link-color: #3281b7;

  /*Card colors*/
  --default-card-title-color: #000000;
  --default-card-subtitle-color: #949494;

  /*Post colors*/
  --default-post-title-color: #000000;
  --default-post-subtitle-color: #bbbbbb;


  --default-label-width-percentage: 25%;
  --default-input-width-percentage: 75%;
}

* {

}

html {
  background-color: var(--default-bg-color);
  color: var(--default-text-color);
  font-family: 'Lato', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 20px;
  text-rendering: optimizeLegibility;
  margin: 0;
  padding: 0;
}

/********************/
/***Color classes **/
/********************/
.primary {
  color: var(--default-primary-color);
}

.text-gray-0 {
  --tw-text-opacity: 1;
  color: #d9d9d9;
}


.text-gray-1 {
  --tw-text-opacity: 1;
  color: #b2b4b4;
}

.text-gray-2 {
  --tw-text-opacity: 1;
  color: #868686;
}

.text-gray-3 {
  --tw-text-opacity: 1;
  color: #4f4f4f;
}



/********************/
/***Button classes **/
/********************/
.btn {
  font-family: var(--default-btn-font-family);
  font-size: large;
  font-weight: bold;
  text-decoration: none;
  border-radius: 5px;
  text-align: center;
  padding: 5px 5px;
  margin: 2px 2px 2px 2px;
  cursor: pointer;
  height: 35px;
  width: 100px;
  transition: 0.3s;
  height: auto;
}
.btn:hover {
  filter: brightness(0.8);
}

.btn-primary {
  border: 1px solid #70b1c2;
  background-color: var(--default-primary-color);
  color: white;
}

.btn-default {
  border: 1px solid #bbbbbb;
  background-color: #9a9a9a;
  color: white;
}

.btn-light {
  border: 1px solid #bbbbbb;
  background-color: #ffffff;
  color: black;
}


.btn-link {
  border: 0px;
  background-color: #ffffff;
  color: var(--default-link-color);
}

/*******************/
/***Title classes **/
/*******************/
h1, h2, h3, h4, h5 {
  font-family: var(--default-btn-font-family);
  font-weight: bold;
}

/******************/
/***Form classes **/
/******************/

.form {
  text-align: left;
  display: flex;
  flex-direction: column;
  color: var(--default-text-color);
}

.form-item {
  padding: 5px 5px;
  display: flex;
  align-items: center;
}

.form-item-column {
  padding: 5px 5px;
  align-items: flex-start;
  flex-direction: column;
}

.form-item-column .form-label{
  width: auto;
  font-size: 15px;
  width: -webkit-fill-available;
}

.form-item .form-label{
  width: auto;
  font-size: 15px;
  width: var(--default-label-width-percentage);
}

  /*******************/
 /***Input classes **/
/*******************/
.input-text {
  border: 1px solid var(--default-post-subtitle-color);
  border-radius: 5px;
  padding: 10px;
  transition: all 0.6s;
}
.input-text:focus-visible {
  outline: none;
  border: 1px solid var(--default-primary-color);
  transform: scaleX(1.005);
}
.form-item .input-text {
  width: var(--default-input-width-percentage);
}

.form-item-column .input-text {
  width: -webkit-fill-available;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.date-input {
  border-radius: 5px;
  transition: all 0.6s;
  width: var(--default-input-width-percentage);
}
.form-item .date-input {
  width: var(--default-input-width-percentage);
}

.form-item-column .date-input {
  width: -webkit-fill-available;
}

.upload-input {
  border-radius: 5px;
  transition: all 0.6s;
  width: var(--default-input-width-percentage);
}
.form-item .upload-input {
  width: var(--default-input-width-percentage);
}

.form-item-column .upload-input {
  width: -webkit-fill-available;
}

.textarea {
  border: 1px solid var(--default-post-subtitle-color);
  font-family: 'Lato', 'Arial', sans-serif;
  border-radius: 5px;
  padding: 10px;
  transition: all 0.6s;
  width: var(--default-input-width-percentage);
}
.form-item .textarea {
  width: var(--default-input-width-percentage);
}

.form-item-column .textarea {
  width: -webkit-fill-available;
}
/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

  /******************/
 /***Util classes **/
/******************/

.d-flex {
  display: flex;
}

.d-block {
  display: block;
}

.d-inline-block {
  display: inline-block;
}

.d-inline-flex {
  display: inline-flex;
}

d-none {
  display: none;
}

.im-flex {
  flex: 1;
}

.mt-0 {
  margin-top: 0 !important;
}

.mt-1 {
  margin-top: 0.25rem !important;
}

.mt-2 {
  margin-top: 0.5rem !important;
}

.mt-3 {
  margin-top: 1rem !important;
}

.mt-4 {
  margin-top: 1.5rem !important;
}

.mt-5 {
  margin-top: 2rem !important;
}

.ml-0 {
  margin-left: 0 !important;
}

.ml-1 {
  margin-left: 0.25rem !important;
}

.ml-2 {
  margin-left: 0.5rem !important;
}

.ml-3 {
  margin-left: 1rem !important;
}

.ml-4 {
  margin-left: 1.5rem !important;
}

.ml-5 {
  margin-left: 2rem !important;
}

.mr-0 {
  margin-right: 0 !important;
}

.mr-1 {
  margin-right: 0.25rem !important;
}

.mr-2 {
  margin-right: 0.5rem !important;
}

.mr-3 {
  margin-right: 1rem !important;
}

.mr-4 {
  margin-right: 1.5rem !important;
}

.mr-5 {
  margin-right: 2rem !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-1 {
  margin-bottom: 0.25rem !important;
}

.mb-2 {
  margin-bottom: 0.5rem !important;
}

.mb-3 {
  margin-bottom: 1rem !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.mb-5 {
  margin-bottom: 2rem !important;
}

.pt-0 {
  padding-top: 0 !important;
}

.pt-1 {
  padding-top: 0.25rem !important;
}

.pt-2 {
  padding-top: 0.5rem !important;
}

.pt-3 {
  padding-top: 1rem !important;
}

.pt-4 {
  padding-top: 1.5rem !important;
}

.pt-5 {
  padding-top: 2rem !important;
}

.pl-0 {
  padding-left: 0 !important;
}

.pl-1 {
  padding-left: 0.25rem !important;
}

.pl-2 {
  padding-left: 0.5rem !important;
}

.pl-3 {
  padding-left: 1rem !important;
}

.pl-4 {
  padding-left: 1.5rem !important;
}

.pl-5 {
  padding-left: 2rem !important;
}

.pr-0 {
  padding-right: 0 !important;
}

.pr-1 {
  padding-right: 0.25rem !important;
}

.pr-2 {
  padding-right: 0.5rem !important;
}

.pr-3 {
  padding-right: 1rem !important;
}

.pr-4 {
  padding-right: 1.5rem !important;
}

.pr-5 {
  padding-right: 2rem !important;
}

.pb-0 {
  padding-bottom: 0 !important;
}

.pb-1 {
  padding-bottom: 0.25rem !important;
}

.pb-2 {
  padding-bottom: 0.5rem !important;
}

.pb-3 {
  padding-bottom: 1rem !important;
}

.pb-4 {
  padding-bottom: 1.5rem !important;
}

.pb-5 {
  padding-bottom: 2rem !important;
}


.fs-xsm {
  font-size: 0.5rem;
}

.fs-sm {
  font-size: 0.7rem;
}

.fs-md {
  font-size: 1rem;
}

.fs-lg {
  font-size: 1.5rem;
}

.fs-xl {
  font-size: 2rem;
}

.fs-xxl {
  font-size: 3rem;
}

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}
.clickable {
  cursor: pointer;
}

.pull-right {
  right: 0px;
}
