<div class="container">
  <div class="row">
    <h1 class="fs-xxl mb-3">
      <span class="d-block unmask">Emerson Ribeiro<span class="d-inline-block nickname">[Herms Coder]</span></span>

      <span class="d-block primary">Web Developer</span>
    </h1>
    <p class="text-gray-2 mt-0">Developing solutions, maintaining software and solving problems.</p>
    <button class="btn btn-primary big-btn">See my portfolio</button>
    <button class="btn btn-link big-btn">Get in touch</button>
  </div>
  <div class="row  mt-5 services">
    <div>
      <img src="https://naledi.co.uk/collect.svg" class="w-32 h-32 -ml-4">
      <h3>Developing solutions</h3>
      <p class="text-gray-2">Typically used to add cosmetic content to an element, by using the content CSS property. This element is inline by default.</p>
    </div>
    <div>
      <img src="https://naledi.co.uk/collect.svg" class="w-32 h-32 -ml-4">
      <h3>Developing solutions</h3>
      <p class="text-gray-2">Typically used to add cosmetic content to an element, by using the content CSS property. This element is inline by default.</p>
    </div>
    <div>
      <img src="https://naledi.co.uk/collect.svg" class="w-32 h-32 -ml-4">
      <h3>Developing solutions</h3>
      <p class="text-gray-2">Typically used to add cosmetic content to an element, by using the content CSS property. This element is inline by default.</p>
    </div>
  </div>
</div>

<div class="about-me">
  <div class="banner-img">
      <img src="https://media-private.canva.com/3a4Tk/MAEjP53a4Tk/1/s2.png?X-Amz-Algorithm=AWS4-HMAC-SHA256&amp;X-Amz-Credential=AKIAJWF6QO3UH4PAAJ6Q%2F20210704%2Fus-east-1%2Fs3%2Faws4_request&amp;X-Amz-Date=20210704T121844Z&amp;X-Amz-Expires=31370&amp;X-Amz-Signature=f8eb3e02e8c5aef9b0a9a159dcad0e6416f67cdbb447a84f557fe35aa2211cc9&amp;X-Amz-SignedHeaders=host&amp;response-expires=Sun%2C%2004%20Jul%202021%2021%3A01%3A34%20GMT" alt="Emerson Ribeiro">
  </div>
  <div class="description pl-5">
    <h2>About me</h2>
    <p>I am Emerson, a consulting data analyst and social researcher passionate about working with organisations that want to make effective use of their data; from the first ideas around what you want to measure and how to capture data accurately, through data preparation, analysis and management, all the way to impactful presentation of insights. I can support each step of the process to enable your organisation in making evidence-driven decisions or share insights with new audiences. I also offer training in Tableau, Alteryx, CommCare, Research Methods and Data Literacy.
    <br><br>
    I am available for short-term freelancing projects or on longer-term consulting contracts.
    </p>
  </div>
</div>
