<div class="container">
  <div class="row">
    <h1 class="fs-xxl mb-3">
      <span class="d-block unmask">{{profile.givenName + ' ' + profile.familyName}}<span class="d-inline-block nickname">[Herms Coder]</span></span>

      <span class="d-block primary">{{profile.jobTitle}}</span>
    </h1>
    <p class="text-gray-2 mt-0">Developing solutions, maintaining software and solving problems.</p>
    <button class="btn btn-primary big-btn">See my portfolio</button>
    <button class="btn btn-link big-btn">Get in touch</button>
  </div>
  <div class="row  mt-5 services">
    <div>
      <img src="https://naledi.co.uk/collect.svg" class="w-32 h-32 -ml-4">
      <h3>Developing solutions</h3>
      <p class="text-gray-2">Typically used to add cosmetic content to an element, by using the content CSS property. This element is inline by default.</p>
    </div>
    <div>
      <img src="https://naledi.co.uk/collect.svg" class="w-32 h-32 -ml-4">
      <h3>Developing solutions</h3>
      <p class="text-gray-2">Typically used to add cosmetic content to an element, by using the content CSS property. This element is inline by default.</p>
    </div>
    <div>
      <img src="https://naledi.co.uk/collect.svg" class="w-32 h-32 -ml-4">
      <h3>Developing solutions</h3>
      <p class="text-gray-2">Typically used to add cosmetic content to an element, by using the content CSS property. This element is inline by default.</p>
    </div>
  </div>
</div>

<div class="about-me">
  <div class="banner-img">
      <img src="https://res.cloudinary.com/dsonk49e9/image/upload/v1625772490/blogfolio/banner-logo.png" alt="Emerson Ribeiro">
  </div>
  <div class="description pl-5">
    <h2>About me</h2>
    <p>
      {{profile.description}}
    </p>
  </div>
</div>

<div class="portfolio">
  <div class="row">
    <h1>Portfolio</h1>
    <p class="text-gray-2">A sample of my client work and personal projects</p>
  </div>
  <div class="row">
    <hc-portfolio [profile]="profile"></hc-portfolio>
  </div>
</div>

<div class="get-in-touch">
  <div class="row">
    <h1>Get in touch</h1>
    <form class="form" >
<!--      <div class="form-item">-->
<!--        <label>Title:</label>-->
<!--        <input type="text" [formControlName]="'title'" required="true" class="input-text"/>-->
<!--      </div>-->
<!--      <div class="form-item">-->
<!--        <label>Subtitle:</label>-->
<!--        <input type="text" [formControlName]="'subTitle'" required="true" class="input-text"/>-->
<!--      </div>-->
    </form>
  </div>
</div>
